@-moz-viewport {
  width: device-width;
  scale: 1;
}

@-ms-viewport {
  width: device-width;
  scale: 1;
}

@-o-viewport {
  width: device-width;
  scale: 1;
}

@-webkit-viewport {
  width: device-width;
  scale: 1;
}

@viewport {
  width: device-width;
  scale: 1;
}

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  width: 100%;
}

@media screen and (min-width: 60em) {
  html {
    font-size: 110%;
  }
  .nav {
    text-align: right;
    white-space: nowrap;
  }
}

@media screen and (min-width: 90em) {
  html {
    font-size: 180%;
  }
  .nav {
    text-align: right;
    white-space: nowrap;
  }
}

@media screen and (min-width: 120em) {
  html {
    font-size: 130%;
  }
  .nav {
    text-align: right;
    white-space: nowrap;
  }
  .pieces {
    width: auto;
    height: 700px;
    display: block;
    margin: 0 auto;
  }
  .piece-name {
    width: 600px;
    height: auto;
    display: block;
    margin: 0 auto;
  }
}

.skip-link {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: none;
}

.skip-link a {
  position: absolute;
  top: -10rem;
  background-color: #000;
  color: #fff;
  text-decoration: none;
  padding: 0.5em 0.75em;
  font-size: 1.25em;
}

.skip-link a:focus {
  top: 0;
}

.wordmark {
  position: relative;
  height: 2rem;
  width: auto;
}

.nav {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.nav-footer {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #212326;
}

.nav a {
  color: #212326;
  display: inline-block;
}

.nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.nav li {
  display: inline-block;
}

.nav-footer a {
  color: #212326;
  display: inline-block;
}

.nav-footer ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.nav-footer li {
  display: inline-block;
}

.banner {
  position: relative;
  text-align: center;
  width: 102%;
}

.banner-img {
  padding-top: 57%;
  background: #fff url(../images/ahmed-branding-package.svg) no-repeat center center;
  background-size: cover;
}

.banner-content {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.55);
  bottom: 50px;
  width: 100%;
}

.me-bg {
  background: url(../images/lion-bg.svg) no-repeat center center;
}

.me-illus {
  min-width: 80px;
  width: 60%;
  padding-bottom: 20px;
  margin: auto;
  height: auto;
  display: block;
}

.ahmed-avatar {
  width: 20%;
}

.info {
  max-width: 30em;
  margin: auto;
}

.icon {
  min-width: 45px !IMPORTANT;
  width: 8%;
}

.f-icon {
  min-width: 45px !IMPORTANT;
  width: 12%;
}

.box {
  max-width: 44em;
  /* margin: 0 auto; */
}

.title {
  text-align: center;
}

.p-icon {
  margin: 0 auto;
  display: block;
  height: 6rem;
  width: auto;
}

.p-title {
  margin: 0 auto;
  text-align: center;
  padding-top: 1.3rem;
  padding-bottom: 1.3rem;
}

.box-view {
  margin: 0 auto;
  text-align: center;
  display: block;
  width: 60%;
  border: 2px solid #000;
  border-radius: 20px;
  padding: 0.75em;
  cursor: pointer;
}

.box-view a{
  color: #000;
}

.box-view:hover {
  background: #fff;
  color: #000;

}

.f-copy {
  color: white;
  text-align: center;
}

.f-icon-box {
  padding-bottom: 0.700rem;
}

footer .navbar {
  display: inline-block;
}
/*****************************portfolio************************************/

.pieces {
  width: auto;
  height: 300px;
  display: block;
  margin: 0 auto;
}

.piece-name {
  width: 250px;
  height: auto;
  display: block;
  margin: 0 auto;
}

.be-btn {
  margin: 0 auto;
  text-align: center;
  display: block;
  width: 80%;
  background: #CE202F;
  color: #fff;
  border-radius: 20px;
  padding: 0.75em;
}

.be-btn:hover {
  color: white;
  background: #9B1722;
}

.be-btn a {
  color: white;
}


/******************new york times*****************/

.b-bg {
  background: #d3ac2b;
}

.b-btn {
  margin: 0 auto;
  text-align: center;
  display: block;
  width: 80%;
  background: #f4f3ea;
  border-radius: 20px;
  padding: 0.75em;
}

.b-btn:hover {
  background: #cbd0d8;
}

.b-btn a {
  color: black;
}


/****************** 305 juice bar*****************/

.jb-bg {
  background: #dcdcdc;
}

.jb-btn {
  margin: 0 auto;
  text-align: center;
  display: block;
  width: 80%;
  background: #0090C1;
  color: #fff;
  border-radius: 20px;
  padding: 0.75em;
}

.jb-btn:hover {
  color: white;
  background: #046E8F;
}

.jb-btn a {
  color: white;
}

/****************** Time2Learn *****************/

.t2l-bg {
  background: #cd925f;
}

.t2l-btn {
  margin: 0 auto;
  text-align: center;
  display: block;
  width: 80%;
  background: #9fbade;
  color: #fff;
  border-radius: 20px;
  padding: 0.75em;
}

.t2l-btn:hover {
  color: #fff;
  background: #4D7EA8;
}

.t2l-btn a {
  color: white;
}


/******************3 in the key*****************/

.key-bg {
  background: #dcd0c0;
}

.key-btn {
  margin: 0 auto;
  text-align: center;
  display: block;
  width: 80%;
  background: #eeaa7b;
  color: #fff;
  border-radius: 20px;
  padding: 0.75em;
}

.key-link {
  color: white;
}

.key-link:hover {
  color: #e37222;
}

.key-btn:hover {
  color: white;
  background: #e37222;
}

.key-btn a {
  color: white;
}

/****************** Empire to Empower*****************/

.ete-bg {
  background: #decdf5;
}

.ete-btn {
  margin: 0 auto;
  text-align: center;
  display: block;
  width: 80%;
  background: #88498f;
  color: #fff;
  border-radius: 20px;
  padding: 0.75em;
}

.ete-btn:hover {
  color: white;
  background: #410052;
}

.ete-link {
  color: white;
}

.ete-link:hover {
  color: #88498f;
}

.ete-btn a {
  color: white;
}


/******************laundry care*****************/

.lc-bg {
  background: #eb6e80;
  /* background: #80A1C1; */
}

.lc-btn {
  margin: 0 auto;
  text-align: center;
  display: block;
  width: 80%;
  background: #94618e;
  /* background: #BA3F1D; */
  color: #fff;
  border-radius: 20px;
  padding: 0.75em;
}

.lc-btn:hover {
  color: white;
  background: #49274a;
  /* background: #8B2F16; */
}

.lc-btn a {
  color: white;
}


/****************** Canadian Army Podcast*****************/

.cap-bg {
  background: #6d8837;
}

.cap-btn {
  margin: 0 auto;
  text-align: center;
  display: block;
  width: 80%;
  background: #50593e;
  color: #fff;
  border-radius: 20px;
  padding: 0.75em;
}

.cap-btn:hover {
  color: white;
  background: #3d442f;
}

.cap-btn a {
  color: white;
}

/****************** CEBL App*****************/

.cebl-bg {
  background: #b4923e;
}

.cebl-btn {
  margin: 0 auto;
  text-align: center;
  display: block;
  width: 80%;
  background: #30638E;
  color: #fff;
  border-radius: 20px;
  padding: 0.75em;
}

.cebl-btn:hover {
  color: white;
  background: #003D5B;
}

.cebl-btn a {
  color: white;
}

/****************** Bench the Barriers*****************/

.btb-bg {
  background: #6897c8;
}

.btb-btn {
  margin: 0 auto;
  text-align: center;
  display: block;
  width: 80%;
  background: #38618c;
  color: #fff;
  border-radius: 20px;
  padding: 0.75em;
}

.btb-btn:hover {
  color: white;
  background: #2a4b6d;
}

.btb-btn a {
  color: white;
}


/******************work*****************/

.w-bg {
  background: #f7b733;
}

.w-btn {
  margin: 0 auto;
  text-align: center;
  display: block;
  width: 80%;
  background: #66b9bf;
  color: #fff;
  border-radius: 20px;
  padding: 0.75em;
}

.w-btn:hover {
  color: white;
  background: #07889b;
}

.w-btn a {
  color: white;
}

/****************** African BBQ House*****************/

.abbq-bg {
  background: #ebebeb;
}

.abbq-btn {
  margin: 0 auto;
  text-align: center;
  display: block;
  width: 80%;
  background: #E85D04;
  color: #fff;
  border-radius: 20px;
  padding: 0.75em;
}

.abbq-btn:hover {
  color: white;
  background: #dc2f02;
}

.abbq-btn a {
  color: white;
}

/******************illustration*****************/

.illus-bg {
  background: #EFE9E7;
}

.illus-btn {
  margin: 0 auto;
  text-align: center;
  display: block;
  width: 80%;
  background: #E1B433;
  color: #fff;
  border-radius: 20px;
  padding: 0.75em;
}

.illus-btn:hover {
  color: white;
  background: #D9A100;
}

.illus-btn a {
  color: white;
}

@media screen and (min-width: 25em) {
  .nav li {
    display: inline-block;
    font-size: 1.0000rem;
    line-height: 1.5000;
  }
  .nav {
    text-align: right;
    white-space: nowrap;
  }
  .nav-footer li {
    display: inline-block;
    font-size: 0.8rem;
    line-height: 1.5000;
  }
  .nav-footer {
    text-align: right;
    white-space: nowrap;
  }
  .p-icon {
    margin: 0 auto;
    display: block;
    height: 8rem;
    width: auto;
  }
}

@media screen and (min-width:740px) {
  .f-copy {
    color: white;
    text-align: right;
  }
  footer .navbar {
    display: flex;
  }
  .f-icon-box {
    padding-bottom: 0;
    width: 50%;
  }
  .title {
    text-align: left;
  }
}

@media screen and (min-width: 38em) {
  .nav {
    text-align: right;
    white-space: nowrap;
  }
  .nav-footer {
    text-align: right;
    white-space: nowrap;
  }
  .banner-content {
    bottom: 110px;
  }

  .p-icon {
    margin: 0 auto;
    display: block;
    height: 7rem;
    width: auto;
  }
  .pieces {
    width: auto;
    height: 400px;
    display: block;
    margin: 0 auto;
  }
  .piece-name {
    width: 300px;
    height: auto;
    display: block;
    margin: 0 auto;
  }
  .be-btn,
  .b-btn,
  .jb-btn,
  .t2l-btn,
  .key-btn,
  .lc-btn,
  .cap-btn,
  .cebl-btn,
  .abbq-btn,
  .ete-btn,
  .btb-btn,
  .w-btn,
  .illus-btn {
    width: 44%;
  }

  .me-illus {
    width: 85%;
  }
  .icon {
    width: 5%;
  }
  .ahmed-avatar {
    width: 11%;
  }
  .f-icon {
    width: 10%;
  }
  .box-view {
    width: 40%;
  }
}

@media screen and (min-width: 60em) {
  .nav {
    text-align: right;
    white-space: nowrap;
  }
  .p-icon {
    margin: 0 auto;
    display: block;
    width: auto;
  }
  .pieces {
    width: auto;
    height: 500px;
    display: block;
    margin: 0 auto;
  }
  .piece-name {
    width: 400px;
    height: auto;
    display: block;
    margin: 0 auto;
  }
  .be-btn,
  .b-btn,
  .jb-btn,
  .t2l-btn,
  .key-btn,
  .lc-btn,
  .cap-btn,
  .cebl-btn,
  .abbq-btn,
  .ete-btn,
  .btb-btn,
  .w-btn,
  .illus-btn {
    width: 22%;
  }
  .arrow {
    font-size: 5.5em;
  }
  .banner-content {
    bottom: 150px;
  }
  .me-illus {
    width: 60%;
  }
  .icon {
    width: 6%;
  }
  .ahmed-avatar {
    width: 10%;
  }
  .f-icon {
    width: 10%;
  }
  .box-view {
    width: 30%;
  }
}
